!!!
%html
%head
	%title NoteNote | Online Diary
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	%link{:rel => "stylesheet", :href => "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"}/
	= csrf_meta_tags
%body
	%header
		.header_inner
			= link_to image_tag( 'logo.svg'), root_path, id: "logo"
			%nav
				- if user_signed_in?
					.callout
						%i.fa.fa-pencil-square-o
						= link_to "New Note &nbsp &nbsp".html_safe, new_note_path
						%i.fa.fa-power-off
						= link_to " Sign Out", destroy_user_session_path, method: :delete
				- else
					.callout
						%i.fa.fa-user
						= link_to "Log In", new_user_session_path
	%p.notice= notice
	%p.alert= alert

	= yield

%footer
	%p &copy; Flickering Flame